In [76]:
import psycopg2
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

### Connect postgresql database

Host: ec2-3-222-74-92.compute-1.amazonaws.com
Database: dfo2vqe9hs2knm
User: zgbodaynfjorzt
Port: 5432
Password: d2b11c0c6039df67f39d22f680fb92a843a1b652e3d5b692f6670c0a2abc2804
URI: postgres://zgbodaynfjorzt:d2b11c0c6039df67f39d22f680fb92a843a1b652e3d5b692f6670c0a2abc2804@ec2-3-222-74-92.compute-1.amazonaws.com:5432/dfo2vqe9hs2knm

In [77]:
client = psycopg2.connect(
    host="ec2-3-222-74-92.compute-1.amazonaws.com",
    database="dfo2vqe9hs2knm",
    user="zgbodaynfjorzt",
    password="d2b11c0c6039df67f39d22f680fb92a843a1b652e3d5b692f6670c0a2abc2804",
    port=5432
)

In [78]:
cursor = client.cursor()
qry = """SELECT * FROM information_schema.tables"""
cursor.execute(qry)
df_tables = pd.DataFrame(cursor.fetchall())
df_tables.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,dfo2vqe9hs2knm,public,forms,BASE TABLE,None,None,None,None,None,YES,NO,None
1,dfo2vqe9hs2knm,public,order_items,BASE TABLE,None,None,None,None,None,YES,NO,None
2,dfo2vqe9hs2knm,public,tabela,VIEW,None,None,None,None,None,NO,NO,None
3,dfo2vqe9hs2knm,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
4,dfo2vqe9hs2knm,pg_catalog,pg_type,BASE TABLE,None,None,None,None,None,YES,NO,None

In [79]:
def get_data(sql)->pd.DataFrame:
    '''
    Get data from postgresql database
    '''
    cur = client.cursor()

    #get data
    cur.execute("SELECT * FROM {}".format(sql))
    tupples = cur.fetchall()

    #get columns name
    cur.execute("select column_name from information_schema.columns where table_name = '{}'".format(sql))
    column_name = cur.fetchall()
    df = pd.DataFrame(tupples,columns = [col[0] for col in column_name])
    return pd.DataFrame(df)

In [80]:
df_forms = get_data("forms")

In [81]:
df_items = get_data("order_items")

In [82]:
df_orders = get_data("orders")

In [83]:
### Get target data

In [84]:
df_orders.head()

,id_pedido,id_cliente,data_pedido,status_pagamento,tipo_pagamento,valor_total,valor_desconto,frete_gratis,cidade,estado,locale,utm_source,target
0,bcd62f817162847,05dc2629809bac1c7185,2022-06-10 16:44:48,Entregue,CARTÃO,133.23,137.35,True,Estiva Gerbi,SP,BR,None,1
1,a7a7df267e6b5aa,a9394ee62a542adf27c0,2022-06-10 16:07:31,Cancelado,CARTÃO,176.18,109.88,False,Rio Verde,GO,BR,linktree,1
2,180fd3a5a094e20,5a13ec09afbc65ffc9ff,2022-06-10 16:53:50,Entregue,CARTÃO,133.23,137.35,True,Tupã,SP,BR,influencer,1
3,bda95f0b11e0481,835e3a24859952bee62f,2022-06-10 16:13:34,Entregue,CARTÃO,87.25,59.96,True,São Paulo,SP,BR,None,1
4,ed692fbba172e62,764720564bb8612e5389,2022-06-10 16:16:02,Cancelado,PIX,137.35,137.35,True,Marabá,PA,BR,influencer,1

In [85]:
df = pd.merge(df_forms,df_orders,on='id_cliente',how = 'left')

In [86]:
df.head(10)

,id_form,id_cliente,data,sistema_operacional,navegador,localizacao,locale_x,cidade_x,estado_x,qtde_lavagem_semana,...,status_pagamento,tipo_pagamento,valor_total,valor_desconto,frete_gratis,cidade_y,estado_y,locale_y,utm_source_y,target
0,c7d453c9c01223a42968d9fe136047,d2620a3e6f00a6dc6e88,2022-01-03 15:42:22,iOS,Safari,"São Paulo, Sao Paulo",BR,SÃO PAULO,SAO PAULO,4,...,Entregue,CARTÃO,124.03,0.00,False,São Paulo,SP,BR,None,1.0
1,72830da153824af486be15cd48b3f3,9a48802d8290d19471f3,2022-01-04 08:39:53,Windows,Chrome,"Ribeirão Preto, Sao Paulo",BR,RIBEIRÃO PRETO,SAO PAULO,7,...,Cancelado,PIX,282.22,0.00,False,Jundiaí,SP,BR,None,1.0
2,72830da153824af486be15cd48b3f3,9a48802d8290d19471f3,2022-01-04 08:39:53,Windows,Chrome,"Ribeirão Preto, Sao Paulo",BR,RIBEIRÃO PRETO,SAO PAULO,7,...,Cancelado,PIX,282.22,0.00,False,Jundiaí,SP,BR,None,1.0
3,d101fc0075dac29db1168cfc61ad44,c3344fad450ee424700d,2022-01-04 19:34:05,Android,Chrome,"São Paulo, Sao Paulo",BR,SÃO PAULO,SAO PAULO,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0957fb9d7be36b4d079b6582bb6785,8105e34124e90300d8b5,2022-01-05 18:29:41,Android,Chrome,"Manchester, England",BR,MANCHESTER,ENGLAND,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ba73bdcc6c063ab08b533eae5505eb,636382f3f545eec3fe97,2022-01-07 11:44:31,Android,Chrome,"Tijucas, Santa Catarina",BR,TIJUCAS,SANTA CATARINA,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,f3aa8832cf65eabb6bc36c2f64eb6d,c763e29ef03e569f1be8,2022-01-10 10:39:21,Android,Chrome,"Mar Vermelho, Alagoas",BR,MAR VERMELHO,ALAGOAS,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,f3a35ae494f6c1441fbfbcf4fb9531,ba5ebf19e866fe93ef97,2022-01-11 08:22:25,Android,Chrome,"Juazeiro do Norte, Ceara",BR,JUAZEIRO DO NORTE,CEARA,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,064ab32bafd62204a00be2edec3947,2aa725d6828365051f03,2022-01-11 15:04:40,iOS,None,"Salvador, Bahia",BR,SALVADOR,BAHIA,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,68c5a0fab432e1d6f429227ad95457,cddf2c74ba35fc9665ea,2022-01-11 16:55:27,iOS,None,"Agua Branca, Piaui",BR,AGUA BRANCA,PIAUI,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
df.to_csv('../output/saida.csv',index=False)